body {
  background-color: #2e3440;
  color: #eceff4;
}

#container {
  display: flex;
}

.step {
  display: inline-flex;
  flex-direction: column;
  width: 53px;
}

.text-threshold {
  height: 21px;
}

canvas {
  margin-left: 3px;
}
